.main {
  display: flex;
}
.input-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 25vw;
  border-right: 1px solid white;
}

.input-btn {
  align-self: self-end;
  margin-top: 1rem;
}

.input-div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.input-person, .input-work {
  border-bottom: 1px solid white;
}

.input-div input {
  width: 15rem;
  height: 1.5rem;
}

.input-div textarea {
  width: 15rem;
}

.output-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 10rem;
}
